@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --ff: "Red Hat Display", sans-serif;
  --primary-pale: hsl(225, 100%, 94%);
  --primary-bright: hsl(245, 75%, 52%);
  --neutral-very-pale: hsl(225, 100%, 98%);
  --neutral-desaturated: hsl(224, 23%, 55%);
  --neutral-dark: hsl(223, 47%, 23%);
  --transition: all 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff);
}

body {
  background-image: url(./images/pattern-background-desktop.svg),
    linear-gradient(var(--primary-pale), var(--primary-pale));
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: top;
  width: 100%;
  height: 100%;
}

.card {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-info {
  padding: 40px;
}
.container {
  background: white;
  height: 600px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.card-img-container {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}

.card-img-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: center;
}

.card-text h1 {
  color: var(--neutral-dark);
  padding-bottom: 15px;
  font-size: 25px;
}

.card-text p {
  color: var(--neutral-desaturated);
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.5;
}

.card-plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 20px;
  margin-top: 20px;
  gap: 20px;
  background: var(--neutral-very-pale);
  border-radius: 10px;
}

.card-icon-price {
  display: inline-flex;
  gap: 0 20px;
}

.card-plan-price {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

.plan {
  font-weight: 900;
  color: var(--neutral-dark);
}

.price {
  color: var(--neutral-desaturated);
}

.change a {
  color: var(--primary-bright);
  font-size: 14px;
  font-weight: 700;
  transition: var(--transition);
}

.change:hover a {
  text-decoration-color: transparent;
  color: hsla(245, 75%, 52%, 0.7);
}

.payment {
  display: block;
  margin-top: 30px;
  background: var(--primary-bright);
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  color: var(--neutral-very-pale);
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
}

.payment:hover {
  background: hsla(245, 75%, 52%, 0.7);
}

.cancel {
  margin-top: 25px;
  font-size: 14px;
  display: inline-block;
  color: var(--neutral-desaturated);
  font-weight: 700;
  text-decoration: none;
  transition: var(--transition);
}

.cancel:hover {
  color: var(--neutral-dark);
}
